<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>

    </style>
</head>
<body style="overflow-x: hidden">
<div id="app">
    <input type="hidden" th:value="${#httpServletRequest.getParameter('region')}" ref="param">
    <input type="hidden" th:value="${#httpServletRequest.getParameter('type')}" ref="paramc">
    <!--第一导航-->
    <div class="container-fluid" style="background-color: #fff9ec ;opacity:0.9;background-image: url('/img/yemei3.png');
background-size:100% ">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills">
                    <li><a href="/" class="lead"><span class="glyphicon glyphicon-film">首页</span></a></li>
                    <li style="padding-left: 50px"><a href="#" class="lead"><span class="text-success">新产品
                        &trianglerighteq;</span>
                    </a></li>
                </ul>
            </div>
            <div class="col-md-3 col-md-offset-4"></div>
            <ul class="nav nav-pills">
                <li class="dropdown" th:if="${session.userinfo} != null"><a href="" class="dropdown-toggle"
                                                                            data-toggle="dropdown">
                    <img th:src="@{${session.userinfo.getHeadImg()}}"
                         class="img-responsive img-circle"
                         height="40px"
                         width="40px"/></a>
                    <ul class="dropdown-menu">
                        <li class="text-center"><span
                                class="text-primary ">[[${session.userinfo.getLoginAccount()}]]</span></li>
                        <li class="divider"></li>
                        <li><a href="/user"><span class="glyphicon glyphicon-home">个人中心</span></a></li>
                        <li><a href="#" @click="loginOut()"><span class="glyphicon glyphicon-arrow-left">退出登录</span></a>
                        </li>
                    </ul>

                </li>
                <li style="padding-right: 50px" th:if="${session.userinfo} == null"><a href="/login" class="lead"><span
                        class="glyphicon glyphicon-user"></span>登陆</a>
                </li>
                <li><a href="/regist" class="lead text-danger"><span
                        class="glyphicon glyphicon-circle-arrow-right">注册</span></a>
                </li>
            </ul>
        </div>
        <div style="height: 100px" class="row">
            <div class="col-md-3">
                <h1 class="lead text-success text-left" style="font-size:50px ;opacity:0.5">
                    <strong><em>MMMM个人站</em></strong></h1>
            </div>
            <div class="col-md-3 col-xs-12 col-md-offset-5" style="margin-top: 50px">
                <div class="input-group" style="opacity:0.8">
                    <input type="text" class="form-control font-size:50px " placeholder="Search for..." v-model="key">
                    <span class="input-group-btn">
        <button class="btn btn-default" type="button" @click="queryItem(key)"><img src="" alt=""
                                                                                  class="glyphicon glyphicon-zoom-in">Go!</button>
      </span>
                </div>
            </div>
        </div>
    </div>
    <!--第二导航-->
    <nav class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-header" style="padding-left: 80px">
                    <a class="navbar-brand" href="#"><p class="lead">个人站</p></a>
                </div>
                <div class="col-md-8 col-md-offset-2" style="padding-left: 50px">
                    <ul class="nav navbar-nav ">
                        <li class="active"><a href="/portal/anime"><img src="/img/icon/a8.ico" style="height: 30px;width: 30px"
                                                         alt="">动漫</a></li>
                        <li @click="tips()"><a href="#"><img src="/img/icon/a1.ico" style="height: 30px;width: 30px"
                                                             alt="">TV剧</a>
                        </li>
                        <li @click="tips()"><a href="#"><img src="/img/icon/a2.ico" style="height: 30px;width: 30px"
                                                             alt="">影视</a>
                        </li>
                        <li @click="tips()"><a href="#"><img src="/img/icon/a3.ico" style="height: 30px;width: 30px"
                                                             alt="">综艺</a>
                        </li>
                        <li @click="tips()"><a href="#"><img src="/img/icon/a4.ico" style="height: 30px;width: 30px"
                                                             alt="">新闻</a>
                        </li>
                        <li @click="tips()"><a href="#"><img src="/img/icon/a5.ico" style="height: 30px;width: 30px"
                                                             alt="">未知领域</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/img/icon/a6.ico" style="height: 30px;width: 30px" alt="">榜单
                                <span class="badge">3</span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">动漫榜单</a></li>
                                <li><a href="#">影视榜单 &times;</a></li>
                                <li><a href="#">TV榜单 &times;</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/img/icon/a7.ico" style="height: 30px;width: 30px" alt="">更多
                                <span class="badge">3</span><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">鬼畜 &times;</a></li>
                                <li class="divider"></li>
                                <li><a href="#">生活 &times;</a></li>
                                <li><a href="#">体育 &times;</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--分类展示栏-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ul class="nav nav-pills">
                    <li><p class="text-muted"><strong style="font-size: 20px">类型</strong></p></li>
                    <li :class="{'active': type ==''}" style="padding-left: 20px" @click="addType()"><a href="javascript:void(0)">全部</a>
                    </li>
                    <li v-for="(item, index) in typeShow" @click="addType(item.type)" ref="item.id"
                        :class="{'active': type == item.type}"><a
                            href="javascript:void(0)">{{item.type}}</a></li>
                </ul>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-10 col-md-offset-1">
                <ul class="nav nav-pills">
                    <li><p class="text-muted"><strong style="font-size: 20px">地区</strong></p></li>
                    <li :class="{'active': region ==''}" style="padding-left: 20px" @click="addRegion()"><a href="#">全部</a></li>
                    <li :class="{'active': region =='大陆'}" @click="addRegion('大陆')"><a href="javascript:void(0)">大陆</a></li>
                    <li :class="{'active': region =='日本'}" @click="addRegion('日本')"><a href="javascript:void(0)">日本</a></li>
                    <li :class="{'active': region =='美国'}" @click="addRegion('美国')"><a href="javascript:void(0)">美国</a></li>
                </ul>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-10 col-md-offset-1">
                <ul class="nav nav-pills">
                    <li><p class="text-muted"><strong style="font-size: 20px">年份</strong></p></li>
                    <li :class="{'active': year ==''}" @click="addYear()" style="padding-left: 20px"><a href="javascript:void(0)">全部</a></li>
                    <li :class="{'active': year =='2019-2016'}" @click="addYear('2019-2016')"><a href="javascript:void(0)">2019-2016</a></li>
                    <li :class="{'active': year =='2015-2012'}" @click="addYear('2015-2012')"><a href="javascript:void(0)">2015-2012</a></li>
                    <li :class="{'active': year =='2011-2008'}" @click="addYear('2011-2008')"><a href="javascript:void(0)">2011-2008</a></li>
                    <li :class="{'active': year =='2007-2004'}" @click="addYear('2007-2004')"><a href="javascript:void(0)">2007-2004</a></li>
                    <li :class="{'active': year =='其他'}" @click="addYear('其他')"><a href="javascript:void(0)">其他</a></li>
                </ul>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <ul class="nav nav-tabs col-md-10 col-md-offset-1">
                <li :class="{'active' : oname == 'pl'}" @click="addOrder('play_num desc')"><a href="javascript:void(0)"><img src="" alt="" class="glyphicon glyphicon-fire">最热</a></li>
                <li :class="{'active' : oname == 'cr'}" @click="addOrder('create_time desc')"><a href="javascript:void(0)"><img src="" alt="" class="glyphicon glyphicon glyphicon-repeat">最新</a></li>
                <li :class="{'active' : oname == 'co'}" @click="addOrder('collectnum desc')"><a href="javascript:void(0)"><img src="" alt="" class="glyphicon glyphicon-folder-open">收藏</a></li>
                <button class="btn btn-default" style="float: right" @click="changeOrder()" type="button">升序 / 降序 &triangle;&triangledown;</button>
                <!--<button class="btn btn-default" style="float: right" @click="changeOrder()">降序 &triangledown;</button>-->
            </ul>
        </div>
        <!--展示栏-->
        <div class="row" style="margin-top: 20px">
            <div class="col-md-10 col-md-offset-1">
                <div class="container-fluid">
                    <div class="row" id="effect-5">
                        <div class="col-md-2 " style="margin-top: 10px" v-for="(item, index) in animeShow">
                            <div class="img">
                                <img :src="item.thimg" style="height: 330px; width: 100%">
                                <div class="overlay">
                                    <a :href="'/portal/detail?key='+item.id+''" class="expand">&triangleright;</a>
                                </div>
                            </div>
                            <p class="glyphicon glyphicon-star text-danger" style="float: left">{{item.collectnum}}</p>
                            <p class="text-right">更新至<strong>{{item.updateChapter}}</strong>集</p>
                            <p style="float: left;" class="text-muted">共{{item.chapter}}集</p>
                            <p class="text-right text-primary">{{item.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="height: 275px">
        <div v-if="animeShow != null">
        <div class="row col-md-6 col-md-offset-3 text-center">
            <ul class="pagination pagination-lg" v-if="totalPage <= 5">
                <li v-if="pageNum > 1" class="previous" @click="pageTo(pageNum-1)"><a href="javascript:void(0)">&larr; Older</a></li>
                <li v-if="pageNum == 1" class="previous disabled"><a href="javascript:void(0)">&larr; Older</a></li>
                <li v-for="index in totalPage" :class="{'active' : pageNum == index}"
                    @click="pageTo(index)">
                    <a href="javascript:void(0)">{{index}}</a>
                </li>
                <li v-if="pageNum < totalPage" class="next" @click="pageTo(pageNum+1)"><a href="javascript:void(0)">Newer &rarr;</a>
                </li>
                <li v-if="pageNum == totalPage" class="next disabled"><a href="javascript:void(0)">Newer &rarr;</a>
                </li>
                <span class="help-block text-center">共<span>{{totalPage}}</span>页</span><br>
            </ul>
            <ul class="pagination pagination-lg" v-if="totalPage > 5">
                <li v-if="pageNum > 1" class="previous" @click="pageTo(pageNum-1)"><a href="#">&larr; Older</a></li>
                <li v-if="pageNum == 1" class="previous disabled"><a href="javascript:void(0)">&larr; Older</a></li>
                <li v-if="pageNum-2 > 0" @click="pageTo(pageNum-2)"><a href="javascript:void(0)">{{pageNum-2}}</a></li>
                <li v-if="pageNum-1 > 0" @click="pageTo(pageNum-1)"><a href="javascript:void(0)">{{pageNum-1}}</a></li>
                <li class="active"><a href="javascript:void(0)">{{pageNum}}</a></li>
                <li v-if="pageNum+1 <= totalPage" @click="pageTo(pageNum+1)"><a href="javascript:void(0)">{{pageNum+1}}</a>
                </li>
                <li v-if="pageNum+2 <= totalPage" @click="pageTo(pageNum+2)"><a href="javascript:void(0)">{{pageNum+2}}</a>
                </li>
                <li v-if="pageNum < totalPage" class="next" @click="pageTo(pageNum+1)"><a href="javascript:void(0)">Newer &rarr;</a>
                </li>
                <li v-if="pageNum == totalPage" class="next disabled"><a href="javascript:void(0)">Newer &rarr;</a>
                </li>
                <span class="help-block text-center">共<span>{{totalPage}}</span>页</span><br>
            </ul>
            &nbsp;
            <div class="input-group col-md-2 col-md-offset-5">
                <input type="text" class="form-control" v-model="pageJump">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" @click="pageTo(pageJump)">Go!</button>
                    </span>
            </div>
        </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid bg-info" style="margin-top: 10px">
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <h3 class="lead text-left">Desiged By
                        <small>&nbsp;&nbsp;&nbsp;YMM</small>
                    </h3>
                </div>
                <div class="col-md-3 col-md-offset-4">
                    <h3 class="text-left text-muted"><strong>将小站分享给你的朋友 :</strong>
                        <a href=""><img src="/img/icon/PY.jpg" height="50" width="50"/></a>
                        <a href=""><img src="/img/icon/QQZ.jpg" height="50" width="50"/></a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <h4 class="text-left text-muted">联系我们：<kbd>964106443@qq.com</kbd></h4>
                </div>
                <div class="col-md-3 col-md-offset-4">
                    <strong>本网站提供新影视资源均系收集各大网站，本网站只提供web页面浏览服务，并不提供影片资源存储，也不参与任何视频录制、上传</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h4 class="text-center text-warning bg-primary">Copyright © 2016-2019 MMM.Tv. All Rights
                        Reserved .</h4>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="/jquery/jquery-2.1.1.min.js"></script>
<script src="/js/modernizr.js"></script>
<script src="/js/layer/layer.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/js/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            animeShow: [],
            key: '',
            pageJump: '',
            pageNum: '',
            totalPage: '',
            total: '',
            order: "play_num desc",
            type: "",
            region: "",
            rows: 12,
            year: "",
            typeShow: [],
            flag: 0,
            oname:'pl'
        },
        created: function () {

        },
        mounted(){
            var ym = this
            ym.region = ym.$refs.param.value;
            ym.type = ym.$refs.paramc.value;
            var request = {
                "pageNum": ym.pageNum, "rows": ym.rows, "order": ym.order,
                "type": ym.type, "region": ym.region, "year": ym.year
            }
            $.ajax({
                url: "/portal/animeGet",
                type: "post",
                dataType: "json",
                contentType: "application/json;charset-UTF-8",
                data: JSON.stringify(request),
                beforeSend: function () {
                    index = layer.load(0, {shade: false});
                },
                success: function (object) {
                    layer.close(index)
                    ym.animeShow = object.item;
                    ym.total = object.total;
                    ym.pageNum = object.pageNum;
                    ym.totalPage = object.totalPage;

                },
            })
            $.ajax({
                url: "/portal/typeGet",
                type: "get",
                beforeSend: function () {
                    index = layer.load(0, {shade: false});
                },
                success: function (object) {
                    layer.close(index)
                    ym.typeShow = object
                },
            })

        },
        methods: {
            queryItem(key) {
                var ym = this;
                if (ym.key == "") {
                    layer.msg("请输入搜索内容!", {icon: 5})
                } else {
                    window.location.href = "/search/detail?key=" + key
                }
            },
            pageTo(e) {
                var ym = this
                if (e > ym.totalPage) {
                    layer.msg("请输入正确的页数！")
                    return
                }
                var request = {
                    "pageNum": e, "rows": ym.rows, "order": ym.order,
                    "type": ym.type, "region": ym.region, "year": ym.year
                }
                $.ajax({
                    type: "post",
                    url: "/portal/animeGet",
                    contentType: "application/json;charset-UTF-8",
                    data: JSON.stringify(request),
                    beforeSend: function () {
                        index = layer.load(0, {shade: false});
                    },
                    success: function (object) {
                        if (object.item == null) {
                            ym.animeShow = object.item;
                            layer.msg("没有找到响应内容！", {icon: 2})
                            layer.close(index)
                        } else {
                            layer.close(index)
                            ym.animeShow = object.item;
                            ym.total = object.total;
                            ym.pageNum = object.pageNum;
                            ym.totalPage = object.totalPage;
                        }
                    },
                    error:function () {
                        layer.msg("没有找到响应内容！", {icon: 2})
                        layer.close(index)
                    }
                })
            },
            addType(name) {
                var ym = this
                if (name==null){
                    ym.type = '';
                } else{
                    ym.type = name;
                }
                ym.pageNum = 1
                ym.flag = ym.flag + 1
            },
            addRegion(name) {
                var ym = this
                if (name==null){
                    ym.region = '';
                } else{
                    ym.region = name;
                }
                ym.pageNum = 1
                ym.flag = ym.flag + 1
            },
            // seAll() {
            //     var ym = this
            //     ym.type = "";
            //     ym.pageNum = 1
            //     ym.flag = ym.flag + 1
            // },
            addYear(year){
                var ym = this
                if (year==null){
                    ym.year = '';
                } else{
                    ym.year = year;
                }
                ym.pageNum = 1
                ym.flag = ym.flag + 1
            },
            addOrder(str){
                var ym = this
                ym.order = str;
                ym.oname = str.substring(0, 2)
                ym.pageNum = 1
                ym.flag = ym.flag + 1
            },
            changeOrder(){
                var ym = this
                if (ym.order.indexOf('desc') != -1){
                    ym.order = ym.order.split(' ')[0] + ' asc'
                    ym.flag = ym.flag + 1
                }else {
                    ym.order = ym.order.split(' ')[0] + ' desc'
                    ym.flag = ym.flag + 1
                }
            },
            tips() {
                layer.alert('暂时还没开发完成哟~', {
                    skin: 'layui-layer-molv' //样式类名
                    , closeBtn: 0
                }, function () {
                    layer.alert('请点击动漫吧~', {
                        skin: 'layui-layer-lan'
                        , closeBtn: 0
                        , anim: 4 //动画类型
                    });
                });
            },
        },
        updated:
            function () {
                if (Modernizr.touch) {
                    // show the close overlay button
                    $(".close-overlay").removeClass("hidden");
                    // handle the adding of hover class when clicked
                    $(".img").click(function (e) {
                        if (!$(this).hasClass("hover")) {
                            $(this).addClass("hover");
                        }
                    });
                    // handle the closing of the overlay
                    $(".close-overlay").click(function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        if ($(this).closest(".img").hasClass("hover")) {
                            $(this).closest(".img").removeClass("hover");
                        }
                    });
                } else {
                    // handle the mouseenter functionality
                    $(".img").mouseenter(function () {
                        $(this).addClass("hover");
                    })
                    // handle the mouseleave functionality
                        .mouseleave(function () {
                            $(this).removeClass("hover");
                        });
                }
            },
        watch: {
            flag: {
                deep: true,
                handler() {
                    this.pageTo(this.pageNum)
                }
            }
        }
    })
</script>
</body>

</html>